.App .Navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  margin: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px; }

.App .separator-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/doc-photo-2.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 300px; }

.App .separator-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/doc-photo-3.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 300px; }

.App .Parallax {
  height: 500px;
  background-size: cover;
  background-color: #70C5CE; }
  .App .Parallax .parallax-background {
    background-size: cover; }

.App .custom-bg {
  background-size: cover; }
