@import "../../styles/variables.scss";


.Resume{
  background: linear-gradient($doc-sky, $doc-grass);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

    .tree {
      display: flex;
      justify-content: flex-end;

      img {
        height: 25vmax;
      }
    }

    @media screen and (max-width: 780px) {
        .tree {
          display: none;
        }
    
        .resume-column {
          background: url('../../img/doc-tree.svg');
          background-repeat: no-repeat;
          background-position: 90% 10px;
          background-size: 30%;
        }
      }
}
